
<mat-sidenav-container
class="example-container" (backdropClick)="sidenav.close()">
<mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
  <form (submit)="onSubmit()" class="form" [formGroup]="productSearchForm">
      <mat-form-field class="example-full-width">
        <input [formControlName]="'name'" matInput  [placeholder]="'Name' | translate">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input [formControlName]="'manufacturer'" matInput  [placeholder]="'Manufacturer' | translate">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'Category' | translate}}</mat-label>
        <mat-select [formControlName]="'categoryId'">
          <mat-option [value]="null">
            {{'None' | translate}}
          </mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{category.name.toUpperCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input [formControlName]="'from'" matInput [placeholder]="'From' | translate" type="number" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <mat-form-field>
        <input [formControlName]="'to'" matInput [placeholder]="'To' | translate" type="number" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>

      <div style="display: flex; justify-content: space-around; width: 200px ;">

        <button mat-raised-button color="warn">{{'Search' | translate}}</button>
        <button type="button" (click)="reset()" mat-raised-button color="warn">{{'clear_btn' | translate}}</button>
      </div>
  </form>
</mat-sidenav>

<mat-sidenav-content
style="width: 100%">
<p class="filter"><button mat-button (click)="sidenav.open()"><i class="material-icons">
  filter_list
  </i></button></p>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
