<form [formGroup]="authForm" (submit)="onSubmit()" class="auth-container">
    <mat-form-field>
        <input [formControlName]="'email'" matInput [placeholder]="'Email' | translate">
      </mat-form-field>

    <mat-form-field>
      <input type="password" [formControlName]="'password'" matInput [placeholder]="'Password' | translate">
    </mat-form-field>

    <div class="errors">
      <mat-error *ngIf="authForm.errors && authForm.errors['userConflict']">{{'user_already_exist' | translate}}</mat-error>
      <mat-error *ngIf="authForm.errors && authForm.errors['invalidData']">{{'Data_is_incorrect' | translate}}</mat-error>
      <mat-error *ngIf="authForm.errors && authForm.errors['emptyFields']">{{'Fields_are_required' | translate}}</mat-error>
    </div>

    <div class="btns-container">
        <button type="submit" style="margin-right: 25px" mat-raised-button color="warn">{{ (authType == Auth.Log ? 'Login' : 'Sign_up') | translate }}</button>
        <button type="button" (click)="close()" mat-raised-button color="primary">{{'Close' | translate}}</button>
    </div>

</form>
