<header class="header">
  <div class="logo">
    <img width="100" height="100" (click)="openHome()" src="../assets/logo.jpg" alt="logo">
    <div class="info">
      <h1>Shop On Wheels</h1>
      <p>food delivery service</p>
    </div>
  </div>
  <div class="btns-container">
    <button *ngIf="!authService.isAuthorized" (click)="openAuthDialog(Auth.Log)" mat-button color="warn">Login</button>
    <button *ngIf="!authService.isAuthorized" (click)="openAuthDialog(Auth.Sign)" mat-button color="warn">Sign up</button>
    <button *ngIf="authService.isAuthorized" [matMenuTriggerFor]="menu" style="margin-right: 5px; " mat-button>
        <i style="font-size: 56px;" class="material-icons">
            accessibility_new
        </i>
      </button>
      <mat-menu #menu="matMenu">
          <button (click)="logout()" mat-menu-item>Logout</button>
        </mat-menu>
    <button (click)="openCart()" *ngIf="authService.isAuthorized" mat-button>
      <i style="font-size: 56px;" class="material-icons">
        shopping_basket
      </i>
      <div class="notification" *ngIf="!isCartEmpty"></div>
    </button>
  </div>
</header>

<router-outlet></router-outlet>
